
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body{
    margin:0;
    font-family: 'Noto Sans KR', sans-serif;    
}
section{
    padding-top: 2em;
}
p{
    font-size : 0.9em;
    line-height: 1.6em;
    font-family: 'Black Han Sans', sans-serif;
}

blockquote{
    font-size : 0.7em;
    line-height: 1.6em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}

.container{
    width: 80%;
    margin: 50px auto;
    text-align: center
}

.logo{
    width: 130px;
}

.hide-mobile{
    display: none;
    
}

header{
    display: flex;
    justify-content: flex-end;
  
}

.menu{
    width:25px;
    margin-top :45%
}

.lion{
    widows: 50%;
    width: 60%
}

li{
    list-style-type: none;
    /*height: 150px;*/
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.container ul li:nth-child(n+3) blockquote{
    font-size: 0.5em;
}

.footer-container{
    width: 100%;
    padding: 3em 0;
    background: black;
    color: #fff;
    text-align: center;
}

nav ul {
    position: fixed;
    width: 60%;
    top:0;
    right:0;
    text-align: left;
    background:rgb(36,41,44);
    z-index: 7;
    height: 100%;
    padding-top: 3em;
    font-size: 1em;
    

}

nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    

}
.exit-btn{
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

.exit-btn img{
    width: 20px;
    cursor: pointer;
}

@media only screen and (min-width:650px){

    blockquote{
        font-size : 0.7em;
        line-height: 1.6em;
    }

    .lion{
        width: 50%;
    }
    .container{
        width:70%;
    }
    .show-desktop{
        display: block;
        margin: 0 auto 13% auto;
    }
    .hide-desktop{
        display: none;
    }
    nav ul {
        position : inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
        font-family: 'Black Han Sans', sans-serif;

    }
    nav ul li{
        float: left;
    }
    nav ul li a{
        color: black;
        background-color: inhereit; 
        
    }   
}